body {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  margin:0;
}

li {
  margin: 0 auto;
  background-color: #343434;
  width: calc(100% - 20px);
  padding: 5% 0;
  border-top: #fff 1px solid;
}

.feedbackPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  position: absolute;
  top: 0;
  text-align: center;

  .feedbackWrap {
    width: 60%;
  }

  span {
    // padding-top: 10px;
    font-size: .75rem;
    line-height: 1;
  }

  h2 {
    margin: 0;
  }

  p {
    padding: 50px 0;
    font-size: 1rem;
    margin: 0;
  }
}

.intro { 
  // margin: 0 5vw;
  background-color: #333333;
  // opacity: .95;

  strong {font-weight: 700 !important;}

  button {
    width: 50%;
    background-color: #37c400;
    margin: 10px 10px;
    padding: 10px 10px;
    border: none;
    border-radius: 8px;
  }
  
  p {
    text-align: left;
  }
}

.sorry {
  // refactor so that both feedback_panel have all of the same main properties, then just add css as needed
  background-color: rgb(6, 15, 146);

}

.show {
  display: flex !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.hide {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

ul {
  width: 100% !important;
  position: absolute;
  left: -40px !important;

  li {
    padding-top: 20px !important;
    list-style: none;
    text-align: center;
  }
}

.ui-helper-hidden-accessible {
  display: none;
}

#progressBar {
  height:20px; 
  // width:100px; 
  transition: width 1s ease;
  background-color: white;
}

* {
  color: #fff;
  font-family: 'Nunito Sans', sans-serif;
  // font-weight: bold;
}

.winner {
  display: none;
  opacity: 0;
  visibility: hidden;
  background-color: green;
  line-height: .5;

  text-align: center;
  // padding: 0 20%;

  div {

    padding: 0 10%;

    p {
      font-size: 1rem;
      line-height: 1.25rem;
    }

    .h2 {
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 500;
      font-size: 2rem;
    }
  }

  #x {
    // position: absolute;
    padding-top: 5%; // ok
  }

  iframe {
    width: 60vw;
    height: 18vw;
  }
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: center; 

  .outerLabelContainer {
    display: flex;
    flex-direction: column;
  }
  
  #outerProgressBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .labelContainer {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #turnsContainer, #listensContainer, #timeContainer {
    width: 50px;
    height: auto;
    text-align: center;

    #turnsLabel, #listensLabel, #timeLabel {
      font-size: 1.25rem;
      font-weight: 400;
    }
    
    #turnsCount, #listensCount{
      font-size: 3rem;
      line-height: 2.75rem;
      font-weight: 400;
    }

    #timeCount {
      line-height: 2.75rem;
      font-weight: 200;
    }
  }

  #playerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;


    #playButton {
      position: absolute;
      width: 200px;
      height: auto;
      z-index: 5;
    }

    canvas {
      position: relative;
      bottom: 0px;
      z-index: -1;
    }
  }

  #formContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;

    input {
      margin: 10px 0 0 0;
      text-align: center;
      padding: 10px 50px;
      border: none;
      border-radius: 8px;
    }

    button, input {
      width: 100%;
      background-color: #343434;
      margin: 10px 0 0 0;
      padding: 10px 10px;
      border: none;
      border-radius: 8px;
    }

    #skipButton {
      background-color: #191919;
    }

    #submitButton {
      width: 100%;
    }

    #userInput {
      width:calc(100% - 20px);
      // overflow: hidden;
    }
  }

}

  main {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
